html, body {
    min-width: 1000px;
    color: #666;
    font-family:
        "ff-tisa-web-pro-1","ff-tisa-web-pro-2",
        "Lucida Grande",
        "Hiragino Sans GB","Hiragino Sans GB W3",
        "Microsoft YaHei",
        "wenquanyi micro hei",
        sans-serif;
    font-size: 100%;
    line-height: 1.5;
}
a {
    color: #069;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
.main {
    width: 980px;
    min-height: 500px;
    overflow: auto;
    margin: 0 auto 3em;
}

/* menu */
.menu {
    height: 35px;
    padding-bottom: 1px;
    border-bottom: 1px solid #CCC !important;
    background: #FFF;
    -webkit-background-image: linear-gradient(0deg, #F6F6F6, #FFF 100%);
    -moz-background-image: linear-gradient(0deg, #F6F6F6, #FFF 100%);
    -ms-background-image: linear-gradient(0deg, #F6F6F6, #FFF 100%);
    -o-background-image: linear-gradient(0deg, #F6F6F6, #FFF 100%);
    background-image: linear-gradient(0deg, #F6F6F6, #FFF 100%);
    box-shadow: 0 1px 0 #EEE;
}
.menu a {
    color: #666;
}
.menu .menu-heading {
    float: left;
    margin: 0 20px 0 30px;
    color: #565d64;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 90%;
    height: 36px;
    line-height: 36px;
}
.menu ul {
    float: left;
    margin: 0;
    padding: 0;
    height: 34px;
    list-style: none;
}
.menu li {
    display: inline-block;
    vertical-align: middle;
}
.menu li a {
    position: relative;
    display: block;
    padding: 5px 20px;
    line-height: 1.5em;
    text-decoration: none;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
}
.menu li.menu-selected a:before,
.menu li a:hover:before,
.menu li a:focus:before {
    position: absolute;
    left: 50%;
    bottom: 0;
    content: '';
    margin-left: -4px;
    border: 4px dashed transparent;
    border-bottom: 4px solid #FB264C;
}
.menu li.menu-selected.red a,
.menu li.red a:hover,
.menu li.red a:focus {
    border-bottom-color: #FB264C;
}
.menu li.menu-selected.yellow a,
.menu li.yellow a:hover,
.menu li.yellow a:focus {
    border-bottom-color: #FDD34E;
}
.menu li.menu-selected.yellow a:before,
.menu li.yellow a:hover:before,
.menu li.yellow a:focus:before {
    border-bottom-color: #FDD34E;
}
.menu li.menu-selected.green a,
.menu li.green a:hover,
.menu li.green a:focus {
    border-bottom-color: #6ECB9A;
}
.menu li.menu-selected.green a:before,
.menu li.green a:hover:before,
.menu li.green a:focus:before {
    border-bottom-color: #6ECB9A;
}
.menu li.menu-selected.blue a,
.menu li.blue a:hover,
.menu li.blue a:focus {
    border-bottom-color: #83C7DA;
}
.menu li.menu-selected.blue a:before,
.menu li.blue a:hover:before,
.menu li.blue a:focus:before {
    border-bottom-color: #83C7DA;
}

/* menu-form */
.menu .menu-form {
    float: left;
    margin-top: 2px;
    margin-left: 1em;
    display: inline-block;
}
.menu .menu-form input {
    padding: 0.5em 1em;
    font-size: 0.8em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-transition: 0.3s linear border;
    -moz-transition: 0.3s linear border;
    -ms-transition: 0.3s linear border;
    -o-transition: 0.3s linear border;
    transition: 0.3s linear border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
.menu .menu-form input:focus {
    outline: 0;
    border-color: #129FEA;
}

/* menu-right */
.menu .menu-right {
    float: right;
    margin-right: 20px;
}
.menu-right a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
    line-height: 1.5em;
    text-decoration: none;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
}
.menu-right a:hover:before,
.menu-right a:focus:before {
    position: absolute;
    left: 50%;
    bottom: 0;
    content: '';
    margin-left: -4px;
    border: 4px dashed transparent;
    border-bottom: 4px solid #83C7DA;
}
.menu-right a:hover,
.menu-right a:focus {
    border-bottom: 2px solid #83C7DA;
}

/* menu-border */
.menu .menu-border {
    /* height: 25px;
    background-image: linear-gradient(90deg, #FB264C, #FDD34E 20%, #6ECB9A 50%, #83C7DA 75%); */
}

/* footer */
.page-login .footer {
    width: auto;
    margin: 0;
    padding: 10px 2em;
    border-top: none;
}
.footer {
    width: 980px;
    padding: 0 10px;
    margin: 0 auto 30px;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #CCC;
}
.footer-name {
    float: left;
    margin: 0;
}
.copyright {
    float: right;
    margin: 0;
    color: #CCC;
    text-align: right;
}

/* pagination  */
.pagination {
    margin: 2em 0;
    text-align: center;
}
.pagination li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.pagination li span,
.pagination li a {
    display: inline-block;
    padding: 0.5em;
}

/* loved */
.loved {
    color: #FB264C !important;
}



/* loading */
@-webkit-keyframes stopwatch-rotate {
    0% {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}
@keyframes stopwatch-rotate {
    0% {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
    }

    80% {
        -webkit-transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        transform: translateY(30px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.stopwatch {
    position: fixed;
    top: 50px;
    right: 100px;
    width: 1em;
    height: 1em;
    font-size: 40px;
}
.stopwatch .stopwatch-point {
    content: '';
    position: absolute;
    z-index: 6;
    top: 0.5em;
    left: 0.5em;
    margin-top: -0.04em;
    width: 0.45em;
    height: 0.08em;
    font-size: inherit;
    background-color: #ffffff;
    border-radius: 0.5em;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 0% 50%;
    -moz-transform: rotate(0deg);
    -moz-transform-origin: 0% 50%;
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 0% 50%;
    -o-transform: rotate(0deg);
    -o-transform-origin: 0% 50%;
    transform: rotate(0deg);
    transform-origin: 0% 50%;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.stopwatch:before {
    content: '';
    position: absolute;
    z-index: 6;
    top: 0.4em;
    left: 0.4em;
    width: 0.2em;
    height: 0.2em;
    border-radius: 0.2em;
    background-color: #ffffff;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.stopwatch.stopwatch-done:before {
    z-index: 6;
    top: 0.6em;
    left: 0.25em;
    margin-left: -0.05em;
    width: 0.25em;
    height: 0.1em;
    border-radius: 0.3em 0 0 0.3em;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 100% 50%;
    -moz-transform: rotate(45deg);
    -moz-transform-origin: 100% 50%;
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 100% 50%;
    -o-transform: rotate(45deg);
    -o-transform-origin: 100% 50%;
    transform: rotate(45deg);
    transform-origin: 100% 50%;
}
.stopwatch.stopwatch-done:after {
    content: '';
    position: absolute;
    z-index: 6;
    top: 0.6em;
    left: 0.45em;
    margin-left: -0.05em;
    width: 0.1em;
    height: 0.1em;
    border-radius: 0.3em;
    background-color: #fff;
}
.stopwatch.stopwatch-done .stopwatch-point {
    z-index: 6;
    top: 0.6em;
    margin-top: 0;
    margin-left: -0.05em;
    width: 0.5em;
    height: 0.1em;
    border-radius: 0 0.3em 0.3em 0;
    -webkit-animation-name: none;
    animation-name: none;
    -webkit-transform: rotate(-45deg) !important;
    -webkit-transform-origin: 0% 50% !important;
    -moz-transform: rotate(-45deg) !important;
    -moz-transform-origin: 0% 50% !important;
    -ms-transform: rotate(-45deg) !important;
    -ms-transform-origin: 0% 50% !important;
    -o-transform: rotate(-45deg) !important;
    -o-transform-origin: 0% 50% !important;
    transform: rotate(-45deg) !important;
    transform-origin: 0% 50% !important;
}
.stopwatch .stopwatch-tp {
    content: '';
    position: absolute;
    z-index: 3;
    top: -0.06em;
    left: 50%;
    margin-left: -0.075em;
    width: 0.15em;
    height: 0.2em;
    border-radius: 0.2em;
    background-color: #5cb5ce;
}
.stopwatch .stopwatch-hd:before,
.stopwatch .stopwatch-hd:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    font-size: inherit;
    width: 0.4em;
    height: 0.4em;
    background: #5cb5ce;
    border-radius: 0.4em;
}
.stopwatch .stopwatch-hd:before {
    left: 0;
}
.stopwatch .stopwatch-hd:after {
    right: 0;
}
.stopwatch .stopwatch-ft:before,
.stopwatch .stopwatch-ft:after {
    content: '';
    position: absolute;
    z-index: 4;
    bottom: 0.1em;
    font-size: inherit;
    width: 0.15em;
    height: 0.3em;
    background: #5cb5ce;
    border-radius: 0.4em;
}
.stopwatch .stopwatch-ft:before {
    left: 0;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: left bottom;
    -moz-transform: rotate(45deg);
    -moz-transform-origin: left bottom;
    -ms-transform: rotate(45deg);
    -ms-transform-origin: left bottom;
    -o-transform: rotate(45deg);
    -o-transform-origin: left bottom;
    transform: rotate(45deg);
    transform-origin: left bottom;
}
.stopwatch .stopwatch-ft:after {
    right: 0;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: right bottom;
    -moz-transform: rotate(-45deg);
    -moz-transform-origin: right bottom;
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: right bottom;
    -o-transform: rotate(-45deg);
    -o-transform-origin: right bottom;
    transform: rotate(-45deg);
    transform-origin: right bottom;
}
.stopwatch .stopwatch-back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 1em;
    height: 1em;
    font-size: inherit;
    border-radius: 0.5em;
    background-color: #ffffff;
}
.stopwatch .stopwatch-fore {
    position: absolute;
    top: 0.03125em;
    left: 0.03125em;
    z-index: 4;
    width: 0.9375em;
    height: 0.9375em;
    font-size: inherit;
    border-radius: 0.5em;
    background-color: #5cb5ce;
    background-image: radial-gradient(circle, #70bed4 35%, #5cb5ce 70%);
}
.stopwatch .stopwatch-point {
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: stopwatch-rotate;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: stopwatch-rotate;
}
.bounceInDown {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

/* tooltip */
.tooltip {
    font-size: 14px;
}
.tooltip a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 5px !important;
    vertical-align: baseline !important;
    font-size: inherit !important;
    color: #069 !important;
    background: none !important;
}
