<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% block title %}
    | Zhinsta - instagram中文社区
    {% endblock %}
    </title>
    <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width, minimal-ui">
    <meta name="Keywords" content="zhinsta,instagram,中文,中文社区,中文圈,网页版,中文instagram"/>
    <meta name="Description" content="zhinsta是一个instagram中文圈，网页版的instagram让你轻松在网页上发现有趣的中文用户。"/>
    <meta name="baidu-site-verification" content="W81IXjfkfU"/>
    <meta name="baidu-tc-verification" content="0558abc210f88272286e6b8a216e48b7" />
    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet/less" href="/static/css/basic/g.less"/>
    <link rel="stylesheet/less" media="(min-width: 960px)" href="/static/css/960/g.less"/>
    <script type="text/javascript" src="/static/js/less-1.3.3.min.js"></script>
    {% block style %}{% endblock %}
</head>
<body class="{{ body_class }}">
    {% block header %}
    {% include 'nav.html' %}
    {% endblock %}

    <div class="container">
    {% block main %}{% endblock %}
    </div>

    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43275722-1', 'zhinsta.com');
      ga('send', 'pageview');
    </script>
    {% if has_login %}
    <script>gLogined = true;</script>
    {% endif %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/g.js"></script>
</body>
</html>
