<div class="footer">
    <h3>关注社交账号，全方位了解最新动态</h3>
    <div class="footer-main">
        <div class="footer-l">
            <ul class="footer-links">
                <li><a href="http://weibo.com/zhinsta" target="_blank">新浪微博</a></li>
                <li><a href="http://site.douban.com/215856/" target="_blank">豆瓣小站</a></li>
                <li><a href="http://zhinsta.diandian.com" target="_blank">点点</a></li>
                <li><a href="http://zhinsta.lofter.com/" target="_blank">Lofter</a></li>
                <li><a href="http://zhinsta.com/profile/448621019/" target="_blank">Instagram</a></li>
                <li><a href="{{ url_for('view.about') }}" target="_blank">关于我们</a></li>
            </ul>
            <div class="footer-bt">
                <p class="footer-links-qq">QQ群: 33165199(申请时注明你的Instagram ID)</p>
                &copy;All Right Reserverd. 2013-2014
            </div>
        </div>
        <div class="footer-r">
            <div class="footer-weixin">
                <img src="" alt="" width="128"/>
                <span>微信: zhinsta</span>
            </div>
        </div>
    </div>
</div>
