{% extends "base.html" %}
{% set body_class="page-login" %}
{% block title %}
Zhinsta - instagram中文圈，网页版
{% endblock %}
{% block main %}
<div class="main">
    <h1>Instagram中文圈<span>，</span>发现精彩照片生活</h1>
    <h2><a href="{{ url_for('view.show') }}">展台</a></h2>

    <div class="photos" id="photoList">
        <ul>
            <li class="photo">
                <a href="{{ url_for('view.media', mid=media.id) }}" class="photo-pic">
                    <img src="{{ media.get_standard_resolution_url() | iproxy }}" alt="{{ media.user.username }}" />
                </a>
                <a href="{{ url_for('view.profile', ukey=media.user.id) }}" class="photo-author">
                    <img src="{{ media.user.profile_picture }}" alt="{{ media.user.username }}" width="32" height="32" />
                    {{ media.user.username }}
                </a>
                <span class="photo-info">
                    {{ media.created_time|time_since }}&nbsp;
                    <a href="javascript:void(0);" class="jsLove3" data-mid="{{ media.id }}"></a>
                </span>
            </li>
            {% for m in medias[1:] %}
            <li class="photo">
                <a href="{{ url_for('view.media', mid=m.media) }}" class="photo-pic">
                    <img src="{{ m._media_info.pic | iproxy }}" alt="{{ m.media_username }}" />
                </a>
                <a href="{{ url_for('view.profile', ukey=m.ukey) }}" class="photo-author">
                    <img src="{{ m._media_info.user_pic }}" alt="{{ m._media_info.username }}" width="32" height="32" />
                    {{ m._media_info.username }}
                </a>
                <span class="photo-info">
                    {{ m.date_created|time_since }}&nbsp;
                    <a href="javascript:void(0);" class="jsLove3" data-mid="{{ m.media }}"></a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="tantropmi">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 首页广告 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3880667676094519"
             data-ad-slot="5395254781"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <h2><a href="{{url_for('view.recommend') }}">中文圈</a></h2>
    <div class="people">
        <ul>
            {% for u in users %}
            <li>
                <a href="{{ url_for('view.profile', ukey=u.ukey) }}" class="people-photo">
                    <img width="165" height="165" src="{{ u.pic | iproxy }}" alt="{{ u.username }}" />
                    <span>{{ u.username }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
