{% extends "base.html" %}
{% set body_class="page-media" %}
{% block title %}
{{ media.user.username }}的instagram照片-instagram 网页版-中文圈-明星账号 
{{ super() }}
{% endblock %}
{% block main %}
<div class="main">
    <div class="info">
        <div class="info-l">
            <a href="{{ url_for('view.profile', ukey=media.user.id) }}">
            <img width="50" height="50" src="{{ media.user.profile_picture }}" alt="{{ media.user.full_name }}" />
            </a>
            <div class="info-l-txt">
                <h1>
                    <a href="{{ url_for('view.profile', ukey=media.user.id) }}">{{ media.user.username }}</a>
                    {% if not isme %}
                    {% if isfollow %}
                    <a href="javascript:void(0);" class="jsFollow info-follow" data-ukey="{{ media.user.id }}" data-action="unfollow" title="取消关注">正在关注</a>
                    {% else %}
                    <span></span>
                    <a href="javascript:void(0);" class="jsFollow info-follow" data-ukey="{{ media.user.id }}" data-action="follow" title="关注TA">未关注</a>
                    {% endif %}
                    {% endif %}
                </h1>
                <!--
                <p><i class="icon-plus"></i><a href="javascript:void(0);" class="js-collect">收录到中文圈</a></p>
                <p><i class="icon-bookmark"></i>已收录到中文圈</p>
                -->
            </div>
        </div>
    </div>

    <div class="media">
        <div class="media-l">
            <img src="{{ media.get_standard_resolution_url() | iproxy }}" alt="" />
            <div class="tantropmi">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- media页广告 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3880667676094519"
                     data-ad-slot="4640094780"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <div class="media-r">
            <div class="media-info">
                <p>
                    <span class="media-time">{{ media.created_time|time_since }}</span>
                    <span class="media-place"></span>
                </p>
                <p class="media-desc">
                    {{ media.caption.text }}
                </p>
                <p>
                    {% for tag in (media.tags or []) %}
                    <a href="{{ url_for('view.tag', name=tag.name) }}" class="tag">#{{ tag.name }}</a>&nbsp;
                    {% endfor %}
                </p>
            </div>

            <div class="media-love">
                {% if not isstar %}
                <a href="javascript:void(0);" class="jsLove" data-action="like" data-num="{{ media.like_count }}" data-mid="{{ media.id}}">
                        <i class="icon-heart"></i><span>{{ media.like_count }}</span>
                </a>
                {% else %}
                <a href="javascript:void(0);" class="jsLove" data-action="unlike" data-num="{{ media.like_count }}" data-mid="{{ media.id}}">
                        <i class="icon-heart loved"></i><span class="loved">{{ media.like_count }}</span>
                </a>
                {% endif %}
                <p class="media-lovers">
                    {% for like in likes %}
                    <a href="{{ url_for('view.profile', ukey=like.id) }}">{{ like.username }}</a>
                    {% endfor %}
                    等人赞过
                </p>
            </div>

            <div class="bshare-custom"><div class="bsPromo bsPromo2"></div><a title="分享到新浪微博" class="bshare-sinaminiblog" href="javascript:void(0);"></a><a title="分享到豆瓣" class="bshare-douban" href="javascript:void(0);"></a><a title="分享到微信" class="bshare-weixin" href="javascript:void(0);"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count" style="float: none;">11.5K</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=3ab3c1ab-bb78-4268-b687-95e2d70e974a&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
            <div class="tantropmi">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- media页广告（侧边） -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3880667676094519"
                     data-ad-slot="2495915587"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>

    {% if media.comments %}
    <div class="comments">
        <h2>大家在说</h2>
        <ul>
            {% for comment in media.comments %}
            <li>
                <a href="{{ url_for('view.profile', ukey=comment.user.id) }}" title="{{ comment.user.username }}" data-mid={{ media.id }} data-cid='{{comment.id}}'>
                    <img src="{{ comment.user.profile_picture }}" alt="{{ comment.user.full_name }}" />
                </a>
                <div class="comment">
                    <p>{{ comment.text }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

{% endblock %}
