{% extends "base.html" %}
{% set body_class="page-search-user" %}
{% block title %}
搜索{{ wd }}用户
{{ super() }}
{% endblock %}
{% block main %}
<div class="main">
    <h1>搜索{{ wd }}用户</h1>
    <div class="main-menu">
        <ul>
            <li class="main-menu-selected">用户</li>
            <li><a href="{{ url_for('view.search_tag', wd=wd) }}">标签</a></li>
        </ul>
    </div>
    {% if users %}
    <div class="people">
        <ul>
            {% for user in users %}
            <li>
                <a href="{{ url_for('view.profile', ukey=user.id) }}" class="people-photo">
                    <img width="165" height="165" src="{{ user.profile_picture | iproxy }}" alt="{{ user.full_name }}" />
                    <span>{{ user.username }}</span>
                </a>
                <!--
                <a href="javascript:void(0);" class="people-collected"><i title="已收录到中文圈" class="icon-bookmark"></i></a>
                -->
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <div class="error">
    抱歉没有搜到任何结果......
    </div>
    {% endif %}
</div>
{% endblock %}
