{% extends "base.html" %}
{% set body_class="page-show" %}
{% set menu_selected=1 %}
{% block title %}
展台
{{ super() }}
{% endblock %}
{% block main %}
<div class="main">
    <h1>展台</h1>
    <p>照片被赞得越多，越靠前。你的行为影响着中文圈的其他人，请保持审美，共同创造一个良好的浏览体验。在 Instagram 手机应用上标记 #zhinsta 也可将你的图片推荐至展台</p>
    <div class="main-menu">
        <ul>
            {% if request.endpoint == 'view.show' %}
            <li class="main-menu-selected">热门排序</li>
            {% else %}
            <li><a href="{{ url_for('view.show') }}">热门排序</a></li>
            {% endif %}
            {% if request.endpoint == 'view.show_time' %}
            <li class="main-menu-selected">按时间排序</li>
            {% else %}
            <li><a href="{{ url_for('view.show_time') }}">按时间排序</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="photos" id="photoList">
        <ul>
            {% for m in medias %}
            <li class="photo">
                <a href="{{ url_for('view.media', mid=m.mid) }}" class="photo-pic">
                    <img src="{{ m.pic | iproxy }}" alt="{{ m.user.full_name}} @{{ m.username }} on instagram" />
                </a>
                <a href="{{ url_for('view.profile', ukey=m.ukey) }}" class="photo-author">
                    <img src="{{ m.user_pic | iproxy }}" alt="{{ m.username }}" width="32" height="32" />
                    {{ m.username }}
                </a>
                <span class="photo-info">
                    {{ m.date_created|time_since }}&nbsp;
                    <a href="javascript:void(0);" class="jsLove3" data-mid="{{ m.mid }}"></a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {{ pager()|safe }}
</div>

{% endblock %}
