{% extends "base.html" %}
{% set body_class="page-tag" %}
{% block title %}
#{{ tag.name }}
{{ super() }}
{% endblock %}
{% block main %}
<div class="main">
    <h1>#{{ tag.name }}</h1>
    <p>{{ tag.media_count }}则帖子</p>

    <div class="photos">
        <ul>
            {% for pic in media %}
            <li class="photo">
                <a href="{{ url_for('view.media', mid=pic.id) }}" class="photo-pic">
                    <img src="{{ pic.images.low_resolution.url }}" alt="" />
                </a>
                <!-- TODO -->
                <a href="{{ url_for('view.profile', ukey=pic.user.id) }}" class="photo-author">
                    <img src="{{ pic.user.profile_picture }}" alt="{{ pic.user.full_name }}" width="32" height="32" />
                    {{ pic.user.username }}
                </a>
                <span class="photo-info">
                    {{ pic.created_time|time_since }}&nbsp;
                    <a href="javascript:void(0);" class="jsLove3" data-mid="{{ pic.id }}"></a>
                </span>
            </li>
            {% endfor %}
        </ul>
        {% if next_url %}
        <a href="{{ url_for('view.tag', name=tag.name, next_url=next_url) }}" class="more"><span>更多</span></a>
        {% endif %}
    </div>
</div>
{% endblock %}
