.comments {
    width: 600px;
    margin-top: 2em;
    ul {
        padding: 0;
        li {
            padding: 1em 0 0 0;
            margin: 0 0 1em 0;
            border-top: 1px solid #CCC;
            list-style: none;
            overflow: hidden;
            a {
                float: left;
                margin-right: 1em;
                img {
                    width: 48px;
                    height: 48px;
                }
            }
            .comment {
                overflow: hidden;
                div, p {
                    margin: 0;
                }
            }
        }
    }
}

.comments-form {
    padding: 0;

    p {
        margin: 0 0 1em 0;
        width: 32em;
    }
    textarea {
        display: block;
        padding: 0.5em;
        width: 32em;
        height: 1.2em * 6;
        line-height: 1.2;
        border: 1px solid #CCC;
    }
    input {
        padding: 0 1em;
        height: 2em;
        line-height: 2em;
    }
}
