.comments {
    width: 600px;
    margin-top: 2em;
    ul {
        padding: 0;
        li {
            padding: 1em 0 0 0;
            margin: 0 0 1em 0;
            border-top: 1px solid #CCC;
            list-style: none;
            overflow: hidden;
            a {
                float: left;
                margin-right: 1em;
                img {
                    width: 48px;
                    height: 48px;
                }
            }
            .comment {
                overflow: hidden;
                div, p {
                    margin: 0;
                }
            }
        }
    }
}

.comments-form {
    padding: 0;
    margin-left: 5px;

    p {
        margin: 0 0 1em 0;
        width: 32em;
    }
    textarea {
        display: block;
        padding: 0.5em;
        width: 32em;
        height: 1.2em * 6;
        line-height: 1.2;
        border: 1px solid #CCC;
    }
    button {
        position: relative;
        padding: 0 48px;
        height: 48px;
        line-height: 46px;
        font-size: 18px;
        color: #FFF;
        background: #4A89DC;
        border: none;

        &:hover {
            background: #5D9CEC;
        }
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            right: 0;
            top: 0;
            width: 30%;
            height: 200%;
            margin: -5px 0 0 -5px;
            background: rgba(255 ,255, 255, 0.1);
            -webkit-transform-origin: 0 0;
            -webkit-transform: rotate(-20deg);
            -moz-transform-origin: 0 0;
            -moz-transform: rotate(-20deg);
            -ms-transform-origin: 0 0;
            -ms-transform: rotate(-20deg);
            transform-origin: 0 0;
            transform: rotate(-20deg);
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        &:hover:before {
            width: 40%;
        }
    }
}
