html, body {
    min-width: 1000px;
    color: #666;
    font-family:
        "ff-tisa-web-pro-1","ff-tisa-web-pro-2",
        "Lucida Grande",
        "Hiragino Sans GB","Hiragino Sans GB W3",
        "Microsoft YaHei",
        "wenquanyi micro hei",
        sans-serif;
    font-size: 100%;
    line-height: 1.5;
}
a {
    color: #069;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.main {
    width: 980px;
    min-height: 500px;
    overflow: auto;
    margin: 0 auto 3em;
}

/* menu */
.menu {
    padding-bottom: 1px;
    border-bottom: 1px solid #CCC !important;
    background: #FFF;
    background-image: linear-gradient(0deg, #F6F6F6, #FFF 100%);
    box-shadow: 0 1px 0 #EEE;
}
.menu a {
    color: #666;
}
.menu .menu-heading {
    display: inline-block;
    margin: 0 0.5em;
    vertical-align: middle;
    color: #565d64;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 90%;
}
.menu ul {
    position: relative;
    visibility: visible;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    list-style: none;
}
.menu li {
    display: inline-block;
    vertical-align: middle;
}
.menu li a {
    display: block;
    padding: 5px 20px;
    line-height: 1.5em;
    text-decoration: none;
    white-space: nowrap;
    border-bottom: 1px solid transparent;
}
.menu li.menu-selected:nth-child(1) a,
.menu li:nth-child(1) a:hover,
.menu li:nth-child(1) a:focus {
    border-bottom: 1px solid #FB264C;
}
.menu li.menu-selected:nth-child(2) a,
.menu li:nth-child(2) a:hover,
.menu li:nth-child(2) a:focus {
    border-bottom: 1px solid #FDD34E;
}
.menu li.menu-selected:nth-child(3) a,
.menu li:nth-child(3) a:hover,
.menu li:nth-child(3) a:focus {
    border-bottom: 1px solid #6ECB9A;
}
.menu li.menu-selected:nth-child(4) a,
.menu li:nth-child(4) a:hover,
.menu li:nth-child(4) a:focus {
    border-bottom: 1px solid #83C7DA;
}

/* menu-form */
.menu .menu-form {
    margin-left: 1em;
    display: inline-block;
}
.menu .menu-form input {
    padding: 0.5em 1em;
    font-size: 0.8em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-transition: 0.3s linear border;
    -moz-transition: 0.3s linear border;
    -ms-transition: 0.3s linear border;
    -o-transition: 0.3s linear border;
    transition: 0.3s linear border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
.menu .menu-form input:focus {
    outline: 0;
    border-color: #129FEA;
}

/* menu-right */
.menu .menu-right {
    float: right;
}
.menu-right a {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 20px;
    line-height: 1.5em;
    text-decoration: none;
    white-space: nowrap;
    border-bottom: 1px solid transparent;
}
.menu-right a:hover {
    border-bottom: 1px solid #83C7DA;
}

/* menu-border */
.menu .menu-border {
    height: 5px;
    background-image: linear-gradient(90deg, #FB264C, #FDD34E 20%, #6ECB9A 50%, #83C7DA 75%);
}

/* footer */
.page-login .footer {
    width: auto;
    margin: 0;
    padding: 10px 2em;
    border-top: none;
}
.footer {
    width: 980px;
    padding: 0 10px;
    margin: 0 auto 30px;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #CCC;
}
.footer-name {
    float: left;
    margin: 0;
}
.copyright {
    float: right;
    margin: 0;
    color: #CCC;
    text-align: right;
}

/* pagination  */
.pagination {
    margin: 2em 0;
    text-align: center;
}
.pagination li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.pagination li span,
.pagination li a {
    display: inline-block;
    padding: 0.5em;
}
