html, body {
    color: #666;
    font-family:
        "ff-tisa-web-pro-1","ff-tisa-web-pro-2",
        "Lucida Grande",
        "Hiragino Sans GB","Hiragino Sans GB W3",
        "Microsoft YaHei",
        "wenquanyi micro hei",
        sans-serif,
        "Apple Color Emoji";
    font-size: 100%;
    line-height: 1.5;
    background: #333;
}
a {
    color: #069;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
.main {
    max-width: 980px;
    padding: 2em 0 4em;
    margin: 0 auto;
    overflow: auto;
    background: #FFF;
}

/* header */
.header {
    height: 2em;
    padding: 1em 0.5em;
    font-size: 24px;
    background: #F5F7FA;
    border-bottom: 3px solid #E6E9ED;
}
.header.header-min {
    padding: 1em;
    font-size: 16px;
}
.header > * {
    font-size: 24px;
}
.header.header-min > * {
    font-size: 16px;
}
.header-main {
    margin: 0 auto;
    max-width: 980px;
    height: 2em;
}
.header a {
    color: #AAA;
}
.header a:hover,
.header .header-selected a {
    text-decoration: none;
    color: #333;
}
.header a:active {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

.header-logo {
    float: left;
    width: 2em;
    height: 2em;
    text-indent: -9999px;
    background: url(logo@48x48.png) no-repeat;
}
.header-min .header-logo {
    background: url(logo@32x32.png) no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    .header-logo {
        background-image: url(logo@96x96.png);
        background-size: 48px 48px;
    }
    .header-min .header-logo {
        background-image: url(logo@64x64.png);
        background-size: 32px 32px;
    }
}

.header-nav {
    float: left;
    margin: 0 24px 0 0;
    padding: 0;
}
.header-nav li {
    float: left;
    display: block;
}
.header-nav a {
    display: block;
    margin-left: 1em;
    line-height: 2em;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.header-search {
    float: left;
}
.header-search input {
    display: block;
    width: 2em;
    margin: 0;
    padding: 0;
    line-height: 2em;
    outline: none;
    font-size: inherit;
    background: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
}
.header-search input:focus {
    width: 8em;
    border-bottom-color: #666;
}

.header-right {
    position: relative;
    float: right;
    height: 2em;
    line-height: 2em;
}
.header-right:hover .header-right-i {
    color: #333;
}
.header-right:hover .header-right-bd {
    display: block;
}
.header-right-bd {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    margin: 0;
    padding: 0.75em 0;
    width: 100%;
    list-style: none;
    font-size: 0.75em;
    text-align: center;
    background: #FFF;
    border: 1px solid #CCC;
}
.header-right-bd::before {
    content: '';
    position: absolute;
    top: -19px;  /* 24px * 0.75 + 1 */
    left: 50%;
    z-index: 2;
    margin-left: -0.5em;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 0.5em dashed transparent;
    border-bottom: 0.5em solid #CCC;
}
.header-min .header-right-bd::before {
    top: -13px;  /* 16px * 0.75 + 1 */
}
.header-right-bd::after {
    content: '';
    position: absolute;
    top: -1em;
    left: 50%;
    z-index: 2;
    margin-left: -0.5em;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 0.5em dashed transparent;
    border-bottom: 0.5em solid #FFF;
}
.header-right-bd li,
.header-right-bd a {
    display: block;
    line-height: 1em;
}

.header .login-button {
    display: block;
    padding: 0 1.5em;
    font-size: 0.75em;
}
.header-min .login-button {
    display: block;
    font-size: 1em;
}

/* login-button */
.login-button {
    padding: 0.5em 1.5em;
    color: #FFF !important;
    background-color: #E9573F;
    -webkit-font-smoothing: antialiased;
}
.login-button:hover,
.login-button:focus {
    background-color: #FC6E51;
}
.login-button:focus {
    outline: 0;
}

/* footer */
.footer {
    margin: 0;
    padding: 2em 1em 4em;
    font-size: 16px;
    color: #FFF;
    background: #333;
    border-top: 1px solid #222;
}
.footer-main {
    position: relative;
    margin: 0 auto;
    max-width: 980px;
    overflow: hidden;
    color: #CCC;
}
.footer h3 {
    margin: 0 0 1em 0;
    text-align: center;
}
.footer-l {
    float: left;
    width: 70%;
}
.footer-r {
    float: left;
    width: 30%;
}
.footer-links {
    padding: 0;
    margin: 0;
}
.footer-links li {
    float: left;
    list-style: none;
}
.footer-links a {
    display: block;
    width: 7em;
    line-height: 2em;
    word-wrap: break-word;
    font-size: 1em;
    color: #CCC;
    text-decoration: none;
}
.footer-links .footer-links-qq a {
    width: 100%;
}
.footer-copyright {
    float: left;
    margin: 0;
    line-height: 2em;
    text-align: right;
    color: #CCC;
}
.footer-weixin {
    float: right;
    overflow: hidden;
}
.footer-weixin img {
    max-width: 100%;
    display: block;
}
.footer-weixin span {
    display: block;
    width: 100%;
    line-height: 2em;
    font-size: 1em;
    text-align: center;
}

/* pagination  */
.pagination {
    margin: 2em 0;
    text-align: center;
}
.pagination li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.pagination li span,
.pagination li a {
    display: inline-block;
    padding: 0.5em;
}

/* loved */
.loved {
    color: #FB264C !important;
}

/* tooltip */
.tooltip {
    font-size: 14px;
}
.tooltip a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 5px !important;
    vertical-align: baseline !important;
    font-size: inherit !important;
    color: #069 !important;
    background: none !important;
}
