.photos {
    ul {
        margin: 30px 0 30px -30px;
        padding: 0;
        overflow: auto;
        zoom: 1;
    }
    li {
        position: relative;
        float: left;
        margin-left: 30px;
        margin-bottom: 1em;
        _display: inline;
        list-style: none;
    }
    .photos-noauth {
        margin: 60px 0;
        a {
            margin-left: 0.5em;
            padding: 0.25em 0.5em;
            color: #FFF;
            background-color: #77cc33;
            text-decoration: none;
            &:hover {
                background-color: #6ECB9A;
            }
        }
    }
    .photo {
        position: relative;
        float: left;
        padding: 10px;
        color: inherit;
        text-decoration: inherit;
        border: 1px solid #CCC;
        box-shadow: 1px 1px 2px #CCC;
        border-radius: 5px;
        background: #FFF;
        img {
            display: block;
        }
        span {
            margin-top: 0.5em;
            display: block;
            text-align: center;
            word-wrap: break-word;
        }
        i {
            margin-left: 2px;
        }
        &:hover {
            .photo-author {
                display: block;
            }
        }
    }
    .photo-author {
        margin: 0.5em 0 0 0;
        padding-bottom: 0.5em;
        width: 200px;
        height: 32px;
        line-height: 32px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-bottom: 1px solid #CCC;
        img {
            float: left;
            margin-right: 10px;
            height: 32px;
            width: 32px;
        }
    }
}

