.photos ul {
  margin: 30px 0 30px -30px;
  padding: 0;
  overflow: auto;
  zoom: 1;
}
.photos li {
  position: relative;
  float: left;
  margin-left: 30px;
  margin-bottom: 1em;
  _display: inline;
  list-style: none;
}
.photos .photo {
  float: left;
  padding: 10px;
  color: inherit;
  text-decoration: inherit;
  border: 1px solid #CCC;
  box-shadow: 1px 1px 2px #CCC;
  background: #FFF;
}
.photos .photo img {
  width: 200px;
  height: 210px;
}
.photos .photo span {
  display: block;
  text-align: center;
  word-wrap: break-word;
}
