.photos {
  margin: 30px 20px 30px 0;
  padding: 0;
  overflow: auto;
  zoom: 1;
}
.photos li {
  position: relative;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  _display: inline;
  list-style: none;
}
.photos .photo {
  float: left;
  padding: 10px;
  color: inherit;
  text-decoration: inherit;
  border: 1px solid #CCC;
  box-shadow: 1px 1px 2px #CCC;
  background: #FFF;
}
.photos .photo img {
  width: 200px;
  height: 210px;
}
.photos .photo span {
  display: block;
  margin-top: 0.5em;
  text-align: center;
  word-wrap: break-word;
}
.info {
  margin: 2em 0 0;
  overflow: hidden;
  zoom: 1;
}
.info .info-l {
  float: left;
  width: 600px;
}
.info .info-l img {
  float: left;
  margin-right: 20px;
}
.info .info-l .info-l-txt {
  font-size: 14px;
  overflow: hidden;
}
.info .info-l .info-l-txt h1 {
  margin: 0;
  font-size: 1.5em;
}
.info .info-l .info-l-txt h1 span {
  margin-left: 0.5em;
  padding: 0.25em;
  vertical-align: middle;
  font-size: 0.5em;
  color: #FFF;
  background-color: #77cc33;
}
.info .info-l .info-l-txt i {
  margin-right: 0.5em;
}
.info .info-r {
  float: right;
  padding: 0;
  border: 1px solid #CCC;
  background: #FFF;
}
.info .info-r li {
  float: right;
  list-style: none;
  padding: 10px;
}
.info .info-r li span,
.info .info-r li a {
  padding: 5px;
  display: block;
  text-align: center;
}
