.page-search-user .people ul {
  margin: 30px 0 30px -30px;
  padding: 0;
  overflow: auto;
  zoom: 1;
}
.page-search-user .people li {
  position: relative;
  float: left;
  margin-left: 30px;
  margin-bottom: 20px;
  _display: inline;
  list-style: none;
}
.page-search-user .people .people-photo {
  float: left;
  padding: 10px;
  color: inherit;
  text-decoration: inherit;
  border: 1px solid #CCC;
  box-shadow: 1px 1px 2px #CCC;
  background: #FFF;
  width: 150px;
}
.page-search-user .people .people-photo span {
  display: block;
  margin-top: 0.5em;
  overflow: hidden;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-search-user .people .people-collected,
.page-search-user .people .people-collect {
  position: absolute;
  top: -7px;
  right: -5px;
  padding: 5px;
  font-size: 2em;
  text-decoration: none;
  color: #77cc33;
}
.page-search-user .people .people-collected i,
.page-search-user .people .people-collect i {
  display: block;
}
.page-search-user .people .people-collect {
  top: 0;
  right: 0;
  font-size: 1em;
  color: #FFF;
  background-color: #00ceff;
}
.page-search-user .main-menu ul {
  list-style: none;
  padding: 0;
  margin: 1em 0;
  line-height: 24px;
}
.page-search-user .main-menu ul li {
  margin-right: 1em;
  display: inline-block;
  vertical-align: middle;
}
.page-search-tag .tag-list {
  padding: 0;
  line-height: 2em;
}
.page-search-tag .tag-list li {
  list-style: none;
}
