.page-login {
    h1 {
        margin: 0 0 1em 0;
        text-align: center;
    }

    .board {
        a {
            text-decoration: none;
        }
    }
    .board-hd {
        margin: 0;
        line-height: 2em;
        font-size: 1em;
    }
}

