<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% block title %}
    | Zhinsta - instagram中文圈，网页版
    {% endblock %}
    </title>
    <meta name="Keywords" content="zhinsta,instagram,中文,中文社区,中文圈,网页版,中文instagram"/>
    <meta name="Description" content="zhinsta是一个instagram中文圈，网页版的instagram让你轻松在网页上发现有趣的中文用户。"/>
    <meta name="baidu-site-verification" content="W81IXjfkfU"/>
    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/g.css"/>
    {% block style %}{% endblock %}
</head>
<body class="{{ body_class }}">
    {% block header %}
    <div class="menu">
        <div class="menu-border"></div>
        <a href="{{ url_for('view.home') }}" class="menu-heading">Zhinsta</a>
        <ul>
            <li class="red {% if menu_selected==0 %}menu-selected{% endif %}"><a href="{{ url_for('view.members') }}">中文圈</a></li>
            <li class="yellow {% if menu_selected==1 %}menu-selected{% endif %}"><a href="{{ url_for('view.show') }}">展台</a></li>
            <li class="green {% if menu_selected==2 %}menu-selected{% endif %}"><a href="{{ url_for('view.about') }}">关于</a></li>
        </ul>
        <form class="menu-form" action="{{ url_for('view.search_user') }}" method="GET">
            <input type="text" placeholder="搜索" name="wd">
        </form>
        <div class="menu-right">
            {% if has_login %}
                <a href="{{ url_for('view.profile', ukey=ukey) }}">{{ username }}</a>
                <a href="{{ url_for('view.logout') }}">注销</a>
                <script>gLogined = true;</script>
            {% else %}
                <a href="{{ url_for('view.login') }}" class="menu-login">Instagram登录</a>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    {% block main %}{% endblock %}
    {% block footer %}
    <div class="footer">
        <p class="footer-name">Zhinsta，instagram中文社区</p>
        <p class="copyright">
          © All Right Reserved.2013
        </p>
    </div>
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43275722-1', 'zhinsta.com');
      ga('send', 'pageview');
    </script>
</body>
</html>
