{% extends "base.html" %}
{% set body_class="page-login" %}
{% block style %}
<link rel="stylesheet/less" href="/static/css/login.less"/>
{% endblock %}
{% block header %}
<div class="pure-g-r">
    <div class="pure-u-1 login">
        <img src="/static/assets/imgs/landing-page-bg.jpg" alt="" />
        <div class="login-info pure-g-r">
            <h1 class="pure-u-1">发现懂生活的人</h1>
            <p class="pure-u-1"><a class="pure-button pure-button-primary" href="{{ url_for('view.login') }}">INSTAGRAM登录</a></p>
            <div class="pure-u-1-2">
                <h2>为你设计</h2>
                <p>Zhinsta帮助你在茫茫人群中，发现instagram上你喜欢的中文用户。在这里展示自己，结识懂生活的人。</p>
            </div>

            <div class="pure-u-1-2">
                <h2>由你组成</h2>
                <p>Zhinsta由你组成，因你壮大。加入即成为一份子，还可以轻松帮助我们壮大社区。</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
