{% extends "base.html" %}
{% set body_class="page-profile" %}
{% block title %}
{{ user.username }}
{{ super() }}
{% endblock %}
{% block style %}
<script src="/static/js/modernizr.js"></script>
<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/css/profile.css"/>
{% endblock %}
{% block main %}
<div class="main">
    <div class="info">
        <div class="info-l">
            <a href="{{ url_for('view.profile', ukey=user.id) }}">
            <img width="150" height="150" src="{{ user.profile_picture }}" alt="{{ user.full_name }}" />
            </a>
            <div class="info-l-txt">
                <h1>
                    <a href="{{ url_for('view.profile', ukey=user.id) }}">{{ user.username }}</a>
                    {% if not isme %}
                    {% if isfollow %}
                    <a href="javascript:void(0);" class="jsFollow info-follow" data-ukey="{{ user.id }}" data-action="unfollow" title="取消关注">正在关注</a>
                    {% else %}
                    <span></span>
                    <a href="javascript:void(0);" class="jsFollow info-follow" data-ukey="{{ user.id }}" data-action="follow" title="关注TA">未关注</a>
                    {% endif %}
                    {% endif %}
                </h1>
                <p>{{ user.bio }}</p>
                {% if user.website %}
                <p><i class="icon-cloud"></i><a href="{{ user.website }}">{{ user.website }}</a></p>
                {% endif %}
                <!--
                <p><i class="icon-plus"></i><a href="javascript:void(0);" class="js-collect">收录到中文圈</a></p>
                <p><i class="icon-bookmark"></i>已收录到中文圈</p>
                -->
            </div>
        </div>
        <ul class="info-r">
            <li>
            <span>{{ user.counts.followed_by }}</span>
                <a href="{{ url_for('view.follower', ukey=user.id) }}">关注者</a>
            </li>
            <li>
            <span>{{ user.counts.follows }}</span>
                <a href="{{ url_for('view.following', ukey=user.id) }}">关注中</a>
            </li>
        </ul>
    </div>

    <div class="photos">
        <ul>
            {% for feed in feeds %}
            <li class="photo">
                <a href="{{ url_for('view.media', mid=feed.id) }}" class="photo-pic">
                    <img width="200" height="200" src="{{ feed.images.low_resolution.url }}" alt="" />
                </a>
                <p class="photo-info">
                    {{ feed.created_time|time_since }}&nbsp;{{ feed.like_count }}<i class="icon-heart"></i>&nbsp;{{ feed.comment_count }}<i class="icon-comment"></i>
                </p>
            </li>
            {% endfor %}
        </ul>
        {% if next_url %}
        <a href="{{ url_for('view.profile', ukey=user.id, next_url=next_url) }}" class="more"><span>更多</span></a>
        {% endif %}
    </div>
</div>

<script src="/static/js/tween.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/g.min.js"></script>
{% endblock %}
