{% extends "base.html" %}
{% set body_class="page-profile" %}
{% block style %}
<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet/less" href="/static/css/profile.less"/>
{% endblock %}
{% block main %}
<div class="main">
    <div class="photos">
        <p class="photos-noauth">
        你需要关注TA，才能看到照片。<a href="#" class="jsFollow" data-ukey="{{ ukey }}" data-action="unfollow" title="关注TA">关注TA</a>
        </p>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/g.js"></script>
{% endblock %}


