{% extends "base.html" %}
{% set body_class="page-profile" %}
{% block title %}
未关注
{{ super() }}
{% endblock %}
{% block style %}
<script src="/static/js/modernizr.js"></script>
<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/css/profile.css"/>
{% endblock %}
{% block main %}
<div class="main">
    <div class="photos">
        <p class="photos-noauth">
        你需要关注TA，才能看到照片。<a href="javascript:void(0);" class="jsFollow" data-ukey="{{ ukey }}" data-action="follow" title="关注TA">关注TA</a>
        </p>
    </div>
</div>
<script src="/static/js/tween.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/g.js"></script>
{% endblock %}


