{% extends "base.html" %}
{% set body_class="page-show" %}
{% set menu_selected=1 %}
{% block style %}
<link rel="stylesheet" href="/static/css/show.css"/>
{% endblock %}
{% block main %}
<div class="main">
    <h1>展台</h1>
    <p>图片是你最好的名片，在展台向zhinsta的小伙伴们展示最赞的你。给你的图片打上#zhinsta 标签即可推荐至展台。</p>
    <div class="main-menu">
        <ul>
            {% if request.endpoint == 'view.show' %}
            <li class="main-menu-selected">热门排序</li>
            {% else %}
            <li><a href="{{ url_for('view.show') }}">热门排序</a></li>
            {% endif %}
            {% if request.endpoint == 'view.show_time' %}
            <li class="main-menu-selected">按时间排序</li>
            {% else %}
            <li><a href="{{ url_for('view.show_time') }}">按时间排序</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="photos">
        <ul>
            {% for m in medias %}
            <li>
                <a href="{{ url_for('view.media', mid=m.mid) }}" class="photo">
                    <img width="200" height="200" src="{{ m.pic }}" alt="" />
                    <p class="photo-author">
                        <img src="{{ m.user_pic }}" alt="{{ m.username }}" width="32" height="32" />
                        {{ m.username }}
                    </p>
                    <span>{{ m.date_created|time_since }}&nbsp;</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {{ pager()|safe }}
</div>
{% endblock %}
