{% extends "base.html" %}
{% set body_class="page-show" %}
{% set menu_selected=1 %}
{% block style %}
<script src="/static/js/modernizr.min.js"></script>
<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/css/show.css"/>
{% endblock %}
{% block main %}
<div class="main">
    <h1>展台</h1>
    <p>一起发现好照片。在zhinsta赞图片或者给自己的图片标记#zhinsta 两种方式都可以将图片推荐至展台。/p>
    <div class="main-menu">
        <ul>
            {% if request.endpoint == 'view.show' %}
            <li class="main-menu-selected">热门排序</li>
            {% else %}
            <li><a href="{{ url_for('view.show') }}">热门排序</a></li>
            {% endif %}
            {% if request.endpoint == 'view.show_time' %}
            <li class="main-menu-selected">按时间排序</li>
            {% else %}
            <li><a href="{{ url_for('view.show_time') }}">按时间排序</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="photos" id="photoList">
        <ul>
            {% for m in medias %}
            <li class="photo">
                <a href="{{ url_for('view.media', mid=m.mid) }}" class="photo-pic">
                    <img width="200" height="200" src="{{ m.pic }}" alt="" />
                </a>
                <a href="{{ url_for('view.profile', ukey=m.ukey) }}" class="photo-author">
                    <img src="{{ m.user_pic }}" alt="{{ m.username }}" width="32" height="32" />
                    {{ m.username }}
                </a>
                <span class="photo-info">
                    {{ m.date_created|time_since }}&nbsp;
                    <a href="javascript:void(0);" class="jsLove3" data-mid="{{ m.mid }}"></a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {{ pager()|safe }}
</div>

<script src="/static/js/tween.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/g.min.js"></script>
{% endblock %}
