{% extends "base.html" %}
{% set body_class="page-tag" %}
{% block style %}
<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/css/tag.css"/>
{% endblock %}
{% block main %}
<div class="main">
    <h1>#{{ tag.name }}</h1>
    <p>{{ tag.media_count }}则帖子</p>

    <div class="photos">
        <ul>
            {% for pic in media %}
            <li>
                <a href="{{ url_for('view.media', mid=pic.id) }}" class="photo">
                    <img width="200" height="200" src="{{ pic.images.low_resolution.url }}" alt="" />
                    <!-- TODO -->
                    <p class="photo-author">
                        <img src="{{ pic.user.profile_picture }}" alt="{{ pic.user.full_name }}" width="32" height="32" />
                        {{ pic.user.username }}
                    </p>
                    <span>{{ pic.created_time|time_since }}&nbsp;{{ pic.like_count }}<i class="icon-heart"></i>&nbsp;{{ pic.comment_count }}<i class="icon-comment"></i></span>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% if next_url %}
        <a href="{{ url_for('view.tag', name=tag.name, next_url=next_url) }}" class="more"><span>更多</span></a>
        {% endif %}
    </div>
</div>
{% endblock %}
